<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <form [formGroup]="formularioLogin" action="">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
        <ion-icon slot="start" name="person"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
        <ion-icon slot="start" name="lock-closed"></ion-icon>
      </ion-item>
      <br>
      <div><p>New member <a [routerLink]="['/registro']">Signup now</a> </p> </div>
      <ion-button (click)="login()" expand="block" fill="clear" shape="round">
        Ingresar
      </ion-button>
    </form>

  </ion-card>

</ion-content>